	.block{
					margin: auto;
					margin-top: 20px;
					height: 550px;
					background-color: #24333C;
					width: 40%;
					border-radius: 5px;

		}
		.sty ,.sty1, .sty2{
				background-color: #1AB188;
				color: white;
				text-align: center;
				margin-top: 25px;
				padding: 13px;	
				border: 0px;	
				height: 50px;
    			width: 45%;	
    			font-size: 18px;
    			margin-left: -4px;
		}
		.sty2{
				width: 86.5%;
				margin: 0px 15px 27px 9px;
				font-size: 30px;
				height: 75px;
				color: white;
				padding: 15px;

		}
			.sty1{
				background-color: #435258;
		}
		
		.txt{
			margin-top: 40px;
			font-size: 30px;
			color: white;
		}
		.inp ,.inp1{
			border: 1px solid #A0B3B0;
			background-color: #24333C;
			width: 38%;
			height: 27px;
			padding: 8px;
			font-size: 18px;
			color: #A0B3B0;
			margin: 15px 15px 27px 15px;
		}
		.inp1{
			margin: 15px 15px 27px 3px;
		}
		.email ,.password{
			border: 1px solid #A0B3B0;
			background-color: #24333C;
			height: 27px;
			padding: 8px;
			font-size: 18px;
			color: #A0B3B0;
			width: 83%;
			margin: 0px 15px 27px 15px;
		}