<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/menu.css">
	<link rel="stylesheet" type="text/css" href="../css/login.css">
	</head>
<body>
	<ul class="menu">
  <li class="menu1"><a href="../index.html"><h4>DEALOCUS</h4></a></li>
	<li><a href="../index.html" >Home</a></li>
	<li><a href="about.html">About</a></li>
	<li><a href="Contact.html">Contact</a></li>
	<li><a href="login.html">Login</a></li>
	<li><a href="gallery.html">Gallery</a></li>
</ul>
<center>
<div class="block">
	<button class="sty" >Sign Up</button>
	<button class="sty1">Log In</button>
	<p class="txt"> Sign Up for Free</p>
	<form>
	<input type="text" name="firstname" placeholder="First Name *" class="inp" required="enter">
	<input type="text" name="lastname" placeholder="Last Name *" class="inp1" required="enter">
	<br>
	<input type="email" name="Email" placeholder="Email Address *" class="email" required="#">
	<input type="password" name="password" placeholder="Set A Password *" class="password" required="#">
	<button class="sty2">GET STARTED</button>
	</form>
</div>
</center>
</body>
</html>
